html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #22252d;
    scroll-behavior: smooth;
}
li, a, button {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
}
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1px 7%;
    background: rgb(60,63,69);
    background: linear-gradient(180deg, #3c3f45 0%, #2e3139 70%);
    box-shadow: 0px 5px 15px 5px rgba(21,23,28,0.3);
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease 0s;
    z-index: 200
}
h1, h2 {
    color: #fbfdfd;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin: 20px 0px 15px 0px;
    cursor: default
}
.smaller {
    margin: 0px 0px 15px 0px;
    font-variant: small-caps;
    text-decoration: underline;
}
h3 {
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}
p {
    color: #888d97;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0;
}
.highlight {
    color: #2a8fe8;
    font-size: 20px;
}
header a img  {
    width: 80%;
    padding-top: 5px;
    transition: all 0.5s ease 0s;
}
.logonav {
    cursor: pointer;
}
.navlist {
    list-style: none;
}
.navlist li {
    transition: all 0.2s ease 0s;
    display: inline-block;
    padding: 0px 20px;
}
.navlist li a {
    transition: all 0.2s ease 0s;
}
.navlist li a:hover {
    color: #3183fd;
}
.navlist li:hover {
    transform: translateY(-5px);
    text-shadow: 0px 6px 15px 4px #1B1D23;
}
.contactbtn {
    margin-top: -5px;
    padding: 9px 25px;
    background: none;
    border: none;
    border-radius: 50px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}
.contactbtn:hover {
    transform: scale(1.05);
    color: #3183fd;
}
.fixed {
    height: 65px;
    box-shadow: 0px 5px 15px 5px rgba(21,23,28,0.6);
    transition: all 0.5s ease 0s;
}
.welcomescreen img {
    width: 100%;
    padding-top: 80px;
    background-color: #3183fd; 
}
::-webkit-scrollbar {
    background: rgb(14,18,22);
    background: linear-gradient(0deg, rgba(14,18,22,1) 0%, rgba(55,59,64,1) 25%, rgba(55,59,64,1) 75%, rgba(14,18,22,1) 100%);
    width: 12px;
    border-radius: 200px;
    transition: all 0.5s ease 0s;
}
::-webkit-scrollbar-thumb {
    background: rgb(50,138,252);
    background: linear-gradient(230deg, rgba(50,158,252) 0%, rgba(40,40,239) 100%);
    border-radius: 200px;
}
.hr {
    border-radius: 200px;
    width: 95%;
    background: #3183fd;
    height: 4px;
    margin: 10px auto 20px auto;
}
.hr2 {
    border-radius: 200px;
    width: 80%;
    background: #3183fd;
    height: 4px;
    margin: 25px auto 15px auto;
}
.projects {
    width: 100%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
}
#projects {
    cursor: default;
}
.filterbox {
    display: inline-block; 
    width: 23%;
    background: rgb(60,63,71);
    background: linear-gradient(180deg, rgba(60,63,71,1) 0%, rgba(45,48,56,1) 100%);
    margin: 0px 0px 0px 25px;
    box-shadow: 0px 5px 15px 5px rgba(21,23,28,0.3);
    height: 1100px;
    border-radius: 10px;
}
.itembox {
    display: inline-block; 
    width: 100%;
    margin: 0px 35px 0px 10px;
}
.itembox ul {
    width: 90%;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 5px 10px 0px 5px;
}
.box {
    float: left;
    margin: 5px;
    width: 300px;
    height: 300px;
    display: none;
}
.elementbox {
    width: 300px;
    height: 300px;
    transition: all 0.2s ease 0s;
    overflow: hidden;
    border: 4px solid transparent;
    line-height: normal;
}
.elementbox:hover {
    transform: scale(0.95);
    border: 4px solid #fd7131;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
}
.elementbox a img, .welcomescreen {
    width: 100%;
}
.elementbox h3 {
    margin: 0px 10px 5px 10px;
}
.elementbox p {
    font-size: 16px;
    margin: 0px 10px 10px 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.filter {
    background: none;
    border: none;
    font-size: 26px;
    margin: 10px 0px 10px 30px;
    transition: all 0.2s ease 0s;
}
.filter:hover {
    color: #2a8fe8;
    transform: translateX(5px);
}
.show {
    display: block;
}
.btn {
    display: block;
    border: none;
    outline: none;
    margin-bottom: 0;
    padding: 5px 30px;
    background: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    font-size: 20px;
}
.btn:hover {
    color: #3183fd;
    transform: translateX(8px);
}
.btn.active {
    color: #3183fd;
    transform: translateX(8px);
}
.vers {
    font-size: 14px;
    background: rgb(42,143,232);
    background: linear-gradient(230deg, rgba(49,131,253) 0%, rgba(40,50,239) 100%);
    padding: 0px 10px 0px 10px;
    border-radius: 200px;
    margin: 0px 0px 0px 5px;
    display: inline
}
.tagbox {
    margin: -20px 0px 0px 0px;
    padding: 0;
    height: 40px;
    width: 100%;
}
.descriptiontxt {
    font-size: 20px;
    width: 60%;
    margin: auto;
}
.descriptiontxt2 {
    font-size: 16px;
    width: 70%;
    text-align: justify;
    margin: auto;
}
.smlist {
    width: 100%;
    margin: 10px auto 10px auto;
    box-sizing: border-box;
    list-style-type: none;
    display: block;
    overflow: hidden;
}
.smlist a div {
    width: 20%;
    display: table;
    margin: auto;
    padding: 5px 0px 5px 0px;
    transition: all 0.2s ease 0s;
}
.smlist a div:hover {
    transform: scale(0.95);
}
.smlist a div img {
    width: 50px;
    vertical-align: middle;
}
.about h2 {
    text-decoration: underline;
}
.referrals {
    width: 60%;
    margin: 10px auto 50px auto;
    text-align: center;
}
.referrals a img {
    margin: 20px;
    transition: all 0.2s ease 0s;
    box-shadow: 0px 5px 15px 5px rgba(21,23,28,0.3);
}
.referrals a img:hover {
    transition: all 0.2s ease 0s;
    transform: scale(0.95);
    box-shadow: none;
}
form input{
    margin: 20px;
    transition: all 0.2s ease 0s;
}
form input:hover {
    transition: all 0.2s ease 0s;
    transform: scale(0.95);
}
.topnav {
    display: none;
}
